Repository MiT-HEP/ChargedHiggs, pull requests merged in 2021-01, with the labels that each got.

#272 VBS nano initial setup
  dat/catalog/2020.moriond/nano/year2016/MET.dat
  dat/catalog/2020.moriond/nano/year2016/QCD.dat
  dat/catalog/2020.moriond/nano/year2016/SingleMuon.dat
  dat/catalog/2020.moriond/nano/year2016/jetHT.dat
  dat/catalog/2020.moriond/nano/year2016/st.dat
  dat/catalog/2020.moriond/nano/year2016/ttvbs.dat
  dat/catalog/2020.moriond/nano/year2016/vbsDoublyCH.dat
  dat/catalog/2020.moriond/nano/year2016/vbshad.dat
  dat/catalog/2020.moriond/nano/year2017/MET.dat
  dat/catalog/2020.moriond/nano/year2017/QCD.dat
  dat/catalog/2020.moriond/nano/year2017/SingleMuon.dat
  dat/catalog/2020.moriond/nano/year2017/jetHT.dat
  dat/catalog/2020.moriond/nano/year2017/st.dat
  dat/catalog/2020.moriond/nano/year2017/ttvbs.dat
  dat/catalog/2020.moriond/nano/year2017/vbsDoublyCH.dat
  dat/catalog/2020.moriond/nano/year2017/vbshad.dat
  dat/catalog/2020.moriond/nano/year2018/MET.dat
  dat/catalog/2020.moriond/nano/year2018/QCD.dat
  dat/catalog/2020.moriond/nano/year2018/SingleMuon.dat
  dat/catalog/2020.moriond/nano/year2018/jetHT.dat
  dat/catalog/2020.moriond/nano/year2018/st.dat
  dat/catalog/2020.moriond/nano/year2018/ttvbs.dat
  dat/catalog/2020.moriond/nano/year2018/vbsDoublyCH.dat
  dat/catalog/2020.moriond/nano/year2018/vbshad.dat
  dat/configVBShad.nano.2017.dat
  dat/vbshad.dat
  interface/AnalysisVBShad.hpp
  python/mcDatabaseNano.py
  src/AnalysisVBShad.cpp
  src/LoadNano.cpp
Labels: VBShad

#271 Sum of weights/Empty Files/Proxy/TTreeCache
  aux/JEC/RegroupedV2_Summer19UL17_V5_MC_UncertaintySources_AK4PFchs.txt
  aux/JEC/RegroupedV2_Summer19UL18_V5_MC_UncertaintySources_AK4PFchs.txt
  aux/JEC/Regrouped_Summer19UL17_V5_MC_UncertaintySources_AK4PFchs.txt
  aux/JEC/Regrouped_Summer19UL18_V5_MC_UncertaintySources_AK4PFchs.txt
  aux/JEC/Summer19UL17_V5_MC_UncertaintySources_AK4PFchs.txt
  aux/JEC/Summer19UL18_V5_MC_UncertaintySources_AK8PFchs.txt
  dat/configHbbg.nano.dat
  interface/One.hpp
  script/submit.py
  src/LoadNano.cpp
  src/Loop.cpp
  src/One.cpp
  src/classes.h
Labels: Core, VBShad

#273 TTreeCache
  src/LoadNano.cpp
  src/Loop.cpp
Labels: Core

#275 VBS: various initial UL update
  dat/vbshad.dat
  interface/FatJet.hpp
  src/AnalysisVBShad.cpp
  src/FatJet.cpp
  src/LoadNano.cpp
Labels: VBShad

#278 local vbs samples
  dat/catalog/2020.moriond/nano/year2016/vbshad_local.dat
  dat/catalog/2020.moriond/nano/year2017/vbshad_local.dat
  dat/catalog/2020.moriond/nano/year2018/vbshad_local.dat
  python/mcDatabaseNano.py
  src/AnalysisVBShad.cpp
Labels: VBShad
